<ul>
  <sidebar-icon
    class="primary"
    [ngClass]="{ selected: activeChannel == '@me' }"
    (click)="goToChannel('@me')"
  >
    <discord-icon></discord-icon>
  </sidebar-icon>

  <hr />

  <ng-container *ngFor="let item of servers">
    <sidebar-icon
      [ngClass]="{ selected: activeChannel == item.id }"
      (click)="goToChannel(item.id)"
      [channel]="item"
    >
      <img [src]="item?.propic" [alt]="item?.name || ''" />
    </sidebar-icon>
  </ng-container>

  <sidebar-icon class="secondary">
    <add-icon></add-icon>
  </sidebar-icon>
  <sidebar-icon class="secondary">
    <compass-icon></compass-icon>
  </sidebar-icon>

  <hr />

  <sidebar-icon class="secondary">
    <download-icon></download-icon>
  </sidebar-icon>
</ul>

<main class="ml-[72px] h-screen">
  <ng-content></ng-content>
</main>
