<div
  class="relative flex justify-center select-none"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
>
  <div
    *ngIf="channel?.hasUnreadedChats"
    class="absolute inset-y-0 left-[-4px] w-2 flex items-center"
  >
    <span
      class="unreaded-chat-pin"
      [ngClass]="{ isHovered: isHovering }"
    ></span>
  </div>

  <div class="relative">
    <button
      class="navbar-button"
      [ngClass]="{ isHovered: isHovering }"
      (mouseenter)="isHovering = true"
      (mouseleave)="isHovering = false"
    >
      <ng-content></ng-content>
    </button>
    <div *ngIf="channel?.mentions" class="mentions-pin">
      <span>
        {{ channel?.mentions }}
      </span>
    </div>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isHovering"
  [cdkConnectedOverlayPositions]="tooltipOverlayPositions"
>
  <div *ngIf="channel?.name" class="tooltip">
    <mat-icon svgIcon="triangle-left" class="tail"></mat-icon>
    <span>{{ channel?.name }}</span>
  </div>
</ng-template>
