<ul>
  <navbar-icon
    class="primary"
    [ngClass]="{ selected: isSelected(Paths.me) }"
    (click)="goToChannel(Paths.me)"
    [unreadedChats]="meService.me.hasUnreadedChats"
  >
    <mat-icon svgIcon="discord" class="logo"></mat-icon>
  </navbar-icon>

  <hr />

  <ng-container *ngFor="let item of servers">
    <navbar-icon
      [ngClass]="{ selected: isSelected(item.id) }"
      (click)="goToChannel(item.id)"
      [name]="item.name"
      [unreadedChats]="item.hasUnreadedChats"
      [mentions]="item.mentions"
    >
      <img [src]="item.avatar" [alt]="item?.name || ''" />
    </navbar-icon>
  </ng-container>

  <navbar-icon class="secondary">
    <mat-icon svgIcon="add"></mat-icon>
  </navbar-icon>
  <navbar-icon class="secondary">
    <mat-icon svgIcon="compass"></mat-icon>
  </navbar-icon>

  <hr />

  <navbar-icon class="secondary">
    <mat-icon svgIcon="download"></mat-icon>
  </navbar-icon>
</ul>

<main class="ml-[72px] h-screen">
  <ng-content></ng-content>
</main>
