<div class="relative flex justify-center group">
  <div class="absolute inset-y-0 left-[-4px] w-2 flex items-center">
    <ng-container *ngIf="channel?.hasUnreadedChats">
      <span
        class="w-2 h-2 rounded-full bg-white group-hover:h-5 transition-all duration-200 ease-linear"
      ></span>
    </ng-container>
  </div>

  <button
    class="sidebar-button flex items-center justify-center overflow-hidden h-12 w-12 rounded-3xl shadow-lg group-hover:rounded-xl transition-all duration-200 ease-linear"
  >
    <ng-content></ng-content>
  </button>
</div>
