<div class="sidebar">
  <main>
    <searchbar-panel></searchbar-panel>

    <h2>{{ "direct_messages" | translate | uppercase }}</h2>
    <ul>
      <li *ngFor="let item of meService.me.directMessages">
        <a href="">
          <div class="info">
            <user-avatar
              [avatar]="item.avatar"
              [status]="item.status"
            ></user-avatar>
            <span>{{ item.name }}</span>
          </div>
        </a>
      </li>
      <!-- <li></li> -->
    </ul>
  </main>

  <user-panel></user-panel>
</div>
