@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Whitney";
  src: url(assets/fonts/whitney/whitneymedium.woff2);
}

body {
  font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
